@model ErrorViewModel
@{
    ViewData["Title"] = Localizer["Error"];
}

<h1 class="text-danger">@Localizer["Error."]</h1>
<h2 class="text-danger">@Localizer["S'ha produït un error en processar la teva sol·licitud."]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["ID de sol·licitud:"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["Mode de desenvolupament"]</h3>
<p>
    @Localizer["Canviar a l'entorn de"] <strong>@Localizer["Development"]</strong> @Localizer["mostrarà informació més detallada sobre l'error que s'ha produït."]
</p>
<p>
    <strong>@Localizer["L'entorn Development no s'ha d'activar en aplicacions desplegades."]</strong>
    @Localizer["Això pot provocar que es mostri informació sensible de les excepcions als usuaris finals."]
    @Localizer["Per a la depuració local, activa l'entorn"] <strong>@Localizer["Development"]</strong> @Localizer["definint la variable d'entorn"] <strong>ASPNETCORE_ENVIRONMENT</strong> @Localizer["a"] <strong>@Localizer["Development"]</strong>
    @Localizer["i reinicia l'aplicació."]
</p>
